/*
COLORES DEL PROYECTO
#8F642F
#1D1B20
#E4c392
#311E0B
#311EOB
*/
*, ::after, ::before{
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* LINEA QUE SE COLOCA */
header,
nav,
main,
section,
article,
aside,
footer{
    width: 100%;
}
/* CAMBIOS EN EL RESET HTML Y BODY -> HECHOS POR MI */
/* body {
	line-height: 1;
} */
/* AGREGE ESTA LINEA */
html{
    font-size: 62.5%;
}
/* HICE CAMBIOS EN ESTA */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
    /* overflow-x: hidden; */
}
/* AGREGE ESTAS LINEAS DE CODIGO */
h1, h2, h3, h4, h5, h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}
ol, ul {
	list-style: none;
}
/* AGREGE ESTA LINEA AL RESET <a></a> */
a{
    text-decoration: none;
}
/* AGREGE ESTA LINEA DE CODIGO NUMERO 60 */
img{
    max-width: 100%;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ===============================================
    CONTAINER
==================================================*/
.container{
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
/* ===============================================
    SECTION'S
==================================================*/
.sectionContent{
    outline: 1px solid red;
    margin: 40px 0;
}
/* ===============================================
    ARTICLES
==================================================*/
/* .articleContent{} */
/* ===============================================
    ROW & COL
==================================================*/
.row-container{
    display: block;
    width: 100%;
}
.col-container{
    display: block;
    width: 100%;
}
/* ===============================================
    NAV - CONTENT
==================================================*/
.navContent{

    position: relative;
}
.navContent .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LOGO */
.navContent .nav__logo{
    outline: 1px solid red;
    font-size: 4.1rem;
    text-transform: capitalize;
    letter-spacing: 1.5;
}
/* .navContent .logo h1{} */
/* .navContent .logo h1 a{} */
/* BURGER */
.navContent .nav__burger{
    outline: 1px solid red;
    display: block;
    cursor: pointer;
}
.navContent .nav__burger .line{
    background-color: black;
    margin: 5px;
    height: 3px;
    width: 25px;
    transition: all 0.3s ease;
}
/* MENU */
/* rgb(168, 168, 168) */
.navContent .nav__ul{
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 4rem;
    right: 0;
    height: 80vh;
    width: 65vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    /* z-index: 1000; */
}
/* .navContent .menu{
    background-color: rgba(168, 168, 168, 1.0);
    outline: 1px solid red;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 75%;
    z-index: 1000;
} */
/* .navContent .menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */
.navContent .menu ul li{
    font-size: 2.5rem;
    text-transform: capitalize;
}
.navContent .menu ul li a{
    color: salmon;
    font-weight: bold;
    letter-spacing: 1.5;
}
/* CALL - MENU ACTIVE */
.nav-active{
    transform: translateX(0%);
}
/* TOGGLE BURGER - LINES */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* ===============================================
    HEADER - BANNER -> TEST NAME
==================================================*/
.headerContent{
    background-color: rgba(168, 168, 168, 0.3);
    position: relative;
}
.headerContent .bannerContent{}
/* .headerContent .bannerContent .row-content{} */
/* .headerContent .bannerContent .row-content .col-content{} */
.headerContent .bannerContent .row-content .col-content .banner__info{
    outline: 1px solid red;
    /* z-index: 50; */
    /* padding: 10px; */
}
.headerContent .bannerContent .row-content .col-content .banner__info h2{
    padding: 5px;
}
.headerContent .bannerContent .row-content .col-content .banner__info h2::before{
    content: '|';
}
.headerContent .bannerContent .row-content .col-content .banner__info h6{
    outline: 1px solid red;
    font-size: 1.2rem;
    margin-top: 10px;
}
.headerContent .bannerContent .row-content .col-content .banner__info a{}
/* FIGURE -  */
.headerContent .bannerContent .row-content .col-content .geometry-form{
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    /* position: absolute; */
    position: absolute;
    top: 5.0rem;
    right: 0;
    width: 50%;
    z-index: 0;
}
.headerContent .bannerContent .row-content .col-content .geometry-form .geometry-line{
    /* outline: 1px solid red; */
    /* width: 100px; */
    /* height: 30px; */
    margin: 5px;
    background-color: rgba(248, 162, 41, 0.6);
    /* border-radius: 20px 200px 100px 20px; */
    /* border-radius: 10px 10px 20px 10px; */
}
.headerContent .bannerContent .row-content .col-content .geometry-form .geometry1{
    align-self: flex-end;
    height: 40px;
    width: 40px;
    border-radius: 50px 20px 20px 20px;
}
.headerContent .bannerContent .row-content .col-content .geometry-form .geometry2{
    align-self: center;
    height: 80px;
    width: 80px;
    /* border-radius: 30px 200px 200px 200px; */
    border-radius: 200px 30px 200px 200px;
}
/* .headerContent .bannerContent .row-content .col-content .geometry-form .geometry3{
    align-self: flex-end;
    height: 30px;
    width: 80%;
} */
/* IMG */
.headerContent .bannerContent .row-content .col-content figure{
    /* position: absolute; */
    /* rgb(248, 162, 41) */
    background-color: rgba(248, 162, 41, 0.6);
    /* border-radius: 500px 300px 700px 1000px; */
    /* border-radius: 500px 1000px 700px 1000px; */
    border-radius: 900px 300px 1000px 1000px;
    padding: 20px;
    border-style: groove;
    /* border-radius: 10px -30px 15px 80px; */
}
.headerContent .bannerContent .row-content .col-content figure img{
    /* border-radius: 100px 300px 60px 80px */
    /* border-radius: 100px 300px; */
    /* border-radius: 500px 300px 700px 1000px; */
    border-radius: 500px 300px 400px 300px;
}