/*

AUTHOR: Joao Ivan Garduño Salgado
URL AUTHOR:
VERSION: 1.0
LICENSE:

*/

/*

Rubik:
    - Regular 400
    - Medium 500
    - Bold 700 

Playfair Display:
    - Regular 400
    - Medium 500
    - Bold 700


    TITLES:
        font-family: 'Playfair Display', serif;

    TEXT:
        font-family: 'Rubik', sans-serif;

*/
:root{
    /* COLOR */
    --color-front: #AE661E;
    --color-back: #F7E4EA;
    /* --color-front: #FFF6CC; */
    --color-wraper: #4C220C;
    --color-title:#829BB9;
    --color-frame: #DDD6D6;
    --color-font: #807575de;

    /* FONTS */
    --size-xxs: 1.2rem;
    --size-xs: 1.4rem;
    --size-sm: 1.6rem;
    --size-md: 2.5rem;
    --size-lg: 3rem;
    --size-xl: 4rem;
    --size-xxl: 5rem;

}
*, ::after, ::before{
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* AGREGE ESTA LINEA */
html{
    background-color: var(--color-frame);
    color: var(--color-font);
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: var(--size-sm);
    line-height: 1.6;
    /* overflow-x: hidden; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* LINEA QUE SE COLOCA */
header, nav, main, section, article, aside, footer, figure{
    width: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
    font-size: var(--size-md);
    font-weight: bold;
    letter-spacing: 1px;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    /* object-fit: cover; */
}
button{
    border: none;
    cursor: pointer;
    font-size: var(--size-xxs);
    font-weight: 700;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ===============================================
    CONTAINER
==================================================*/
.container{
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
}
/* ===============================================

==================================================*/
.sectionContent{
    /* outline: 1px solid red; */
    margin: 2.5rem 0;
}

/* .articleContent{} */
/* ===============================================
    ROW & COL
==================================================*/
.row-container{
    display: block;
    width: 100%;
}
.col-container{
    display: block;
    width: 100%;
}
/* ===============================================
    HEADER  - NAV
==================================================*/
.headerContent{
    /* outline: 1px solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
    /* align-content: center; */
    position: relative;
    z-index: 1000;
}
.navContent{
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-content: center; */
}

/* BURGER */
.header__nav--burger{
    /* outline: 1px solid red; */
    display: block;
    cursor: pointer;
}
.header__nav--burger .line{
    background-color: var(--color-wraper);
    height: .3rem;
    margin: .5rem;
    transition: all 0.3s ease;
    width: 4rem;
}

/* MENU */
.header__nav--menu{
    background-color: var(--color-front);
    /* background-color: #4c220cad; */
    position: absolute;
    top: 5.8rem;
    left: 0;
    height: 90vh;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    width: 70vw;
    z-index: 900;
}
.header__nav--menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* margin-top: ; */
    padding-top: .5rem;
    height: 90%;
    width: 100%;
}
.header__nav--menu ul li{
    font-size: var(--size-md);
    text-transform: capitalize;
    width: 100%;
}
.header__nav--menu ul li a{
    color: var(--color-back);
    /* color: var(--color-title); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 1px;    
    padding: 1rem 0;
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.header__nav--menu ul li a:hover{
    background-color: var(--color-frame);
    color: var(--color-title);
}
.nav__menu--icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    
}
.nav__menu--icons a{
    color: var(--color-wraper);    
}
/* NAV ACTIVE */
.nav-active{
    transform: translateX(0%);
}
/* BURGER ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* LOGO */
.header__nav--logo{
    /* outline: 1px solid red; */
    /* font-family: 'Playfair Display', serif; */
    font-size: var(--size-md);
    text-transform: capitalize;
    letter-spacing: -1.5px;
    font-weight: 700;
}
.header__nav--logo a{
    color: var(--color-wraper);
}

/* ICONS */
.header__nav--icons{
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
    width: 35%;
}
.header__nav--icons a{
    color: var(--color-wraper);
    font-size: 2rem; /* recordar darle patron a los iconos por tamaño en cada resolucion */
}

/* ===============================================
    SECTIONS - MAIN
==================================================*/
.aboutContent{
    /* rgb(250, 250, 250) */
    /* color: #FAFAFA; */
    color: rgba(250, 250, 250, 0.9);
    position: relative;
    background-color: rgba(49, 30, 11, 0.6);
    padding: 40px 0;
    /* margin-top: 10px; */
}
/* COL ABOUT */
.aboutContent .rowAbout .colAbout{
    /* outline: 1px solid red; */
    margin-top: 10px;
    /* color: #FAFAFA; */
    /* color: inherit; */
}
/* COL ABOUT 1 */
.aboutContent .rowAbout .colAbout1{
    background-color: rgba(248, 162, 41, 0.6);
    border-radius: 10%;
    width: 80%;
    margin: 0 auto;
    /* border-radius: 300% 300% 300% 300% / 300% 300% 300% 300%; */
}
/* FIGURE */
.aboutContent .rowAbout .colAbout1 .about__figure{
    position: relative;
    left: 10vw;
    width: 90%;
    /* margin: 0 auto; */
    /* object-fit: cover; */
}
.aboutContent .rowAbout .colAbout1 .about__figure .about__img{
    padding: 10px 0;
    border-radius: 10%;
    /* object-fit: cover; */
    /* border-radius: 50%; */
}
/* COL ABOUT 2 */
.aboutContent .rowAbout .colAbout2{
    outline: 1px solid red;
    /* #311E0D */
    /* margin-top: 100px; */
    /* color: #311E0D; */
}
.aboutContent .rowAbout .colAbout2 h3{
    line-height: 1.0;
    outline: 1px solid red;
    padding: 15px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.aboutContent .rowAbout .colAbout2 p{
    outline: 1px solid red;
    padding: 5px;
    margin-bottom: 10px;
    /* margin-top: 20px; */
    /* padding: 10px 0; */
}
.aboutContent .rowAbout .colAbout2 a{
    margin-top: 10px;
    /* rgb(49, 30, 13) */
    /* rgb(49, 30, 11) */
    margin-top: 10px;
    padding: 10px;    
    border-radius: 10px;
    /* margin-left: 10px; */
    color: inherit;
    text-transform: capitalize;
    background-color: rgba(248, 162, 41, 0.6);
    /* padding: 10px; */
    /* background-color: rgba(49, 30, 11, 0.6); */
    /* opacity: 2; */
}
.aboutContent .rowAbout .colAbout2 a:hover{
    background-color: rgba(49, 30, 11, 0.5);
    transition: all 0.2s ease;

}

/* .aboutContent .rowAbout .colAbout1{} */
/* .aboutContent .rowAbout .colAbout2{
    margin-top: 20px;
} */
/* .aboutContent .rowAbout .colAbout2 h3{
    padding: 10px;
} */
/* .aboutContent .rowAbout .colAbout2 p{
    margin-top: 15px;
} */
/* .aboutContent .rowAbout .colAbout2 a{
    margin-top: 50px;
} */

/* ======================================================
    MEDIAQUERIES
========================================================= */
@media screen and (min-width: 480px){}
@media screen and (min-width: 768px){
    /* BURGER */
    .navContent .nav__burger{
        display: none;
    }
    /* MENU */
    .navContent .nav__ul{
        flex-direction: row;
        position: unset;
        height: 5vh;
        transform: translateX(0%);
    }
    .navContent .nav__ul li{
        font-size: 2.0rem;
    }
    /* .navContent .nav__ul li a{} */
}
@media screen and (min-width: 1024px){
    .container{
        width: 95%;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 90%;
    }
}


/* 
FURNITURE DESIGN:
    COLOR:
    FONTS:

COLORES DEL PROYECTO
#8F642F
#F8A229 -> #1D1B20
#E3C392
#311E0D

*/

/* ¿Definir tamaños de iconos en cada resolucion de pantalla? */